table {
    cursor: pointer;
    text-align: center;
    background-color:#181c1e;
    color: #fafafa;
    width: auto;
    font-size: 30px;
}
table td {
    /* border: 1px solid rgba(255,255,255,0.3); */
    vertical-align: middle;
    height: 60px;
    width: 60px;
    padding: 10px;
    /* transition: color 0.4; */
    animation: -webkit-box-shadow box-shadow 0.9s;
}
.calc-buttons {
    border: none;
    width: auto;
    margin: auto;
    margin-top: 30px;
}
.equal {
    /* background-color: #fec208; */
    background-color: #ff3333;
    color: black;
}
table td:hover{
  color: #ff3333;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}
.equal:hover {
    /* background-color: #fec208; */
    background-color: #ff3333;
    color: #fafafa ! important;
}